body {
  margin: 0%;
  padding: 0%;
  background-image: url(../imgs/pastel-pink-background.webp);
}

/* PS2 BODY */

.ps2 {
  position: absolute;
  display: flex;
  bottom: 70px;
  left: 600px;
  scale: 1.3;
}

.left-body {
  width: 60px;
  height: 400px;
  background-color: #31363e;
  position: relative;
}

.right-body {
  width: 60px;
  height: 350px;
  background-color: #474d55;
  align-self: flex-end;
  border-left: solid 1px rgb(56, 56, 56);
}

/* LEFT BODY */

/* LOGO */

.logo-image {
  width: 40px;
  left: 10px;
  position: absolute;
  top: -7px;
  z-index: 100;
}
/* VERTICAL COLUMNS */

.left-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 5px;
}

.big-column {
  width: 5px;
  height: 410px;
  background-color: #434754;
}

/* SLOTS */

.left-slot {
  width: 13px;
  height: 60px;
  background-color: #272c38;
  position: relative;
  border-radius: 15%;
  box-shadow: inset 0 0 4px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CONTROLLER-INPUTS */
.controller-input1 {
  bottom: 170px;
  left: 66%;
}

.controller-input1:hover {
  box-shadow: 0 0 5px 1px yellow;
}

.controller-input2 {
  bottom: 150px;
  left: 66%;
}

.controller-input2:hover {
  box-shadow: 0 0 5px 1px yellow;
}

/* CONTROLLER-INPUTS-COMPONENTS */
.controller-component {
  width: 6px;
  height: 17px;
  background-color: grey;
  border-radius: 20%;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 1px;
}

.component-hole {
  width: 2px;
  height: 2px;
  background-color: rgb(54, 53, 53);
  border-radius: 50%;
  box-shadow: inset 0 0 1px black;
}

/* MEMORY CARD INPUTS */
.memoryCard-input1 {
  bottom: 290px;
  left: 30%;
  background-color: #272c3800;
  box-shadow: inset 0 0 2px black;
}

.memoryCard-input2 {
  bottom: 270px;
  left: 30%;
  background-color: #272c3800;
  box-shadow: inset 0 0 2px black;
}

/* DISK */

.disk {
  height: 180px;
  width: 17px;
  border: 1px solid rgb(43, 42, 42);
  position: relative;
  bottom: 620px;
  left: 20px;
  box-shadow: inset 0 0 2px rgb(13, 13, 13);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ps2-logo {
  width: 15px;
  transform: rotate(270deg);
}

/* BUTTONS */

.ps2-button {
  height: 15px;
  width: 15px;
  background-color: #3d4351;
  position: absolute;
  box-shadow: 0 0 4px rgb(26, 25, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(270deg);
}

.power {
  bottom: 375px;
  left: 6px;
}

.power:hover {
  box-shadow: 0 0 5px 1px yellow;
}

.eject {
  bottom: 375px;
  left: 39px;
}

.eject:hover {
  box-shadow: 0 0 5px 1px yellow;
}

.power-image {
  width: 20px;
  margin-bottom: 0px;
}

.eject-image {
  width: 8px;
  margin-bottom: 0px;
}

.light {
  width: 3px;
  height: 3px;
  background-color: rgb(117, 114, 114);
  position: absolute;
  right: 2px;
  bottom: 11px;
  border-radius: 50%;
}

/* LIGHTS FOR BUTTON ACTIVATION */

.light-power {
  background-color: green;
  box-shadow: 0 0 10px 3px green;
}

.light-eject {
  background-color: rgb(85, 189, 221);
  box-shadow: 0 0 10px 3px rgb(85, 189, 221);
}

/* RIGHT PS2 BODY PART */

.ventilation-rows {
  height: 190px;
  width: 25px;
  background-color: #1e2530;
  display: flex;
  position: relative;
  flex-direction: column;
  left: 6px;
  top: 100px;
  justify-content: space-around;
  box-shadow: inset 0 0 2px 2px rgb(24, 24, 24);
}

.ventilation-row {
  height: 4px;
  width: 25px;
  background-color: #595d64;
}

.ventilation-columns {
  height: 190px;
  width: 25px;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  position: relative;
  left: 6px;
  bottom: 90px;
  justify-content: space-around;
}

.ventilation-column {
  height: 190px;
  width: 2px;
  background-color: #50545f;
}

.usb-container {
  width: 50px;
  height: 50px;
  background-image: rgb(66, 176, 234);
  background: linear-gradient(
    270deg,
    rgba(66, 176, 234, 1) 0%,
    rgba(55, 120, 186, 1) 52%,
    rgba(67, 85, 131, 1) 87%
  );
  position: relative;
  bottom: 90px;
  right: 0px;
}

.usb-port {
  height: 20px;
  width: 9px;
  background-color: #1e2530;
  position: relative;
  top: 25px;
  border: 1px solid rgb(135, 134, 134);
  box-shadow: inset 0 0 5px 2px rgb(17, 17, 17);
}

.port1 {
  left: 30px;
}

.port2 {
  top: 3px;
  left: 16px;
}

.usb-component {
  height: 16px;
  width: 2px;
  background-color: #464e59;
  position: relative;
  left: 2px;
  top: 2px;
}

.port3 {
  width: 5px;
  height: 7px;
  background-color: black;
  position: absolute;
  top: 10px;
  left: 34px;
  border: 1px solid rgb(135, 134, 134);
  box-shadow: inset 0 0 5px 2px rgb(17, 17, 17);
}

/* PS2 SUPPORT */

.support {
  height: 290px;
  width: 30px;
  background-image: linear-gradient(
    270deg,
    rgba(66, 176, 234, 1) 0%,
    rgba(55, 120, 186, 1) 52%,
    rgba(67, 85, 131, 1) 87%
  );
  position: relative;
  bottom: 430px;
  left: 30px;
  z-index: 1;
}

/* .support-top {
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 30px solid rgba(66, 176, 234, 1);
  position: relative;
  bottom: 730px;
  left: 30px;
}

.bot {
  bottom: 460px;
} */

/* TV */

.tv-structure {
  height: 600px;
  width: 600px;
  background-color: #434754;
  position: absolute;
  left: 900px;
  bottom: 5px;
  border-radius: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv-border {
  height: 550px;
  width: 550px;
  background-image: linear-gradient(
    270deg,
    rgba(66, 176, 234, 1) 0%,
    rgba(55, 120, 186, 1) 52%,
    rgba(67, 85, 131, 1) 87%
  );
  border-radius: 7%;
}

.screen-structure {
  height: 400px;
  width: 500px;
  background-color: #d9d4c8;
  border-radius: 7%;
  position: relative;
  left: 25px;
  top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 50px 5px rgb(41, 40, 40);
}

.tv-screen {
  height: 250px;
  width: 350px;
  background-color: #dce1c2;
  border-radius: 7%;
  box-shadow: 0 0 5px 2px rgb(130, 128, 128);
}

.button-container {
  height: 50px;
  width: 200px;
  background-color: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 60px;
  left: 50px;
  border-radius: 7%;
}

.tv-button {
  width: 40px;
  height: 40px;
  background-image: linear-gradient(
    270deg,
    rgba(66, 176, 234, 1) 0%,
    rgba(55, 120, 186, 1) 52%,
    rgba(67, 85, 131, 1) 87%
  );
  border-radius: 50%;
  box-shadow: 0 0 2px 5px black;
}

.on-button:hover {
  box-shadow: 0 0 2px 3px black;
}

.screen-on-noDisplay {
  background-image: url(../imgs/tv-old-noDisplay.gif);
  box-shadow: 0 0 60px 40px white;
}

.screen-on-display {
  background-image: url(../imgs/ps2-intro.gif);
  box-shadow: 0 0 60px 40px white;
}
